<app-topbar (toggleMenu)="drawer.toggle()"></app-topbar>
<!--Menu lateral-->
<mat-sidenav-container class="sidenav-container">
  <!--Barra de menu-->
  <mat-sidenav #drawer mode="side" opened="false" position="start">
     <!-- Barra Lateral -->
    <mat-nav-list>
      <a mat-list-item routerLink="/">Administrador</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/lancamentos']" routerLinkActive="active">Lançamentos</a>
      <a mat-list-item [routerLink]="['/pessoas']" routerLinkActive="active">Pessoas</a>
      <a mat-list-item routerLink="/sair">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo Principal -->
  <mat-sidenav-content>
    <!-- Área de Conteúdo -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
