/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

.snackbar-success {
  @include mat.snack-bar-overrides((
    container-color: #4caf50,
    button-color: white,
    supporting-text-color: white
  ));
}

.snackbar-error {
  @include mat.snack-bar-overrides((
    container-color: #f44336,
    button-color: white,
    supporting-text-color: white
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
